<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <table class="box-table-a">
        <caption >Users table</caption>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Event</th>
            <th scope="col">Event date</th>
            <th scope="col">Seat</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="ticket : ${tickets}">
            <td th:text="${ticket.id}">1</td>
            <td th:text="${ticket.user}">aa@aa.com</td>
            <td th:text="${ticket.event}">Triple Butter</td>
            <td th:text="${ticket.eventDate}">09-01-2003</td>
            <td th:text="${ticket.seat}">09-01-2003</td>
            <td th:text="${ticket.price}">09-01-2003</td>
        </tr>
        <tr data-th-remove="all">
            <td>2</td>
            <td>Iron Condor</td>
            <td>High Prob Hedged</td>
            <td><a href="#">delete</a> | <a href="#">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
<form action="#" data-th-action="@{/reports/chooseusername}" data-th-object="${model}" method="get">
    <button type="submit">Find tickets by name</button>
</form>
<form action="#" data-th-action="@{/reports/chooseeventname}" data-th-object="${model}" method="get">
    <button type="submit">Find tickets by event name</button>
</form>
</body>
</html>