<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div>
        <table class="box-table-a">
            <caption >Users table</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">birthDay</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.email}">aa@aa.com</td>
                <td th:text="${user.name}">Triple Butter</td>
                <td th:text="${user.birthDay}">09-01-2003</td>
                <td><a data-th-href="@{/user/delete(id=${user.id})}">delete</a>
                </td>
            </tr>
            <tr data-th-remove="all">
                <td>2</td>
                <td>Iron Condor</td>
                <td>High Prob Hedged</td>
                <td><a href="#">delete</a> | <a href="#">edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="#" data-th-action="@{/users/choosename}" data-th-object="${model}" method="get">
        <button type="submit">Find by name</button>
    </form>
    <form action="#" data-th-action="@{/users/chooseid}" data-th-object="${model}" method="get">
        <button type="submit">Find by id</button>
    </form>
    <form action="#" data-th-action="@{/users/chooseemail}" data-th-object="${model}" method="get">
        <button type="submit">Find by email</button>
    </form>
    <form action="#" data-th-action="@{/users/create}" method="get">
        <button type="submit">Create new user</button>
    </form>
</body>
</html>